<div class="feachers">
    <div class="clarfix layout-center mini">
        <div class="feacher">
            <div class="feacher-img inheritance valign-middle"></div>
            <h2>Inheritance</h2>
            <p>
                Some text some text some text some text 
                some text some text some text some text
            </p>
        </div>
        <div class="feacher">
            <div class="feacher-img components valign-middle"></div>
            <h2>Components</h2>
            <p>
                Some text some text some text some text 
                some text some text some text some text
            </p>
        </div>
        <div class="feacher">
            <div class="feacher-img states valign-middle"></div>
            <h2>States</h2>
            <p>
                Some text some text some text some text 
                some text some text some text some text
            </p>
        </div>
    </div>
    
    <div class="feacher-more-wrap text-center">
        <button class="btn">More Feachers <i class="fa fa-angle-double-down"></i></button>
    </div>
</div>