<div class="header">
    @@include('./nav.html')
    
    <div class="preview-wrap">
        <div class="preview layout-center relative">
            <div class="preview-desc">
                <h1>Model Layer for your app.</h1>
                <p>
                    Model Layer brings some benefits to build 
                    <br>
                    to flexible structure that give possibility to 
                    <br>
                    create mutable entity, in easily way.
                </p>
            </div>
            <div class="preview-links">
                <a class="preview-link" target="_blank" href="">
                    <i class="fa fa-github"></i>
                    GitHub Project
                </a>
                <a class="preview-link" target="_blank" href="">
                    <i class="fa fa-download"></i>
                    DOWNLOAD
                </a>
            </div>
            
            <div class="orbite orbite-primary"></div>
            
            <a class="preview-planet preview-planet1" href=""></a>
            
            <div class="preview-planet preview-planet-child">
                <a class="planet-link" href="">
                    <i class="fa fa-connectdevelop"></i>
                    Child
                </a>
            </div>
            <div class="preview-planet preview-planet-component">
                <a class="planet-link" href="">
                    <i class="fa fa-connectdevelop"></i>
                    Component
                </a>
            </div>
            <div class="preview-planet preview-planet-state">
                <a class="planet-link" href="">
                    <i class="fa fa-connectdevelop"></i>
                    State
                </a>
            </div>
        </div>
    </div>
</div>